/* Default: Left sidebar */
.sidebar-wrap {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    background: #fff;
    color: #fff;
    -webkit-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, .5);
    box-shadow: -5px 0 20px -5px rgba(0, 0, 0, .5);
    -webkit-transition: .5s ease-out;
    transition: .5s ease-out;
    overflow-y: auto;
    z-index: 10001;
}

.sidebar-wrap.active {
    left: 0;
}

/* Sidebar Header (logo + close button in one row) */
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-logo img {
    width: 150px;
    max-height: 40px;
}

.menu-icon-wrap {
    display: none;
}


.sidebar-close-btn {
    font-size: 22px;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
}

.sidebar-close-btn:hover {
    color: var(--secondary-color);
}


/* Sidebar Navigation */
.sidebar-nav {
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

.sidebar-nav li {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    border-top: 1px solid #ebebeb !important;
}

.sidebar-nav li:last-child {
    border-bottom: none;
}

.sidebar-nav a {
    display: block;
    padding: 12px 20px;
    color: #090F32;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

.sidebar-nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    padding-left: 25px;
    color: var(--primary-color);
    
}

.contact-info {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    color: #090F32;
    font-size: 14px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 8px;
    color: var(--primary-color);
}


.social-icon {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

.social-icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.social-icon a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--heading-color);
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-icon a:hover {
    background: #5A76FF;
    color: #fff;
}


/* Close Button */
.sidebar-close-btn {
    font-size: 22px;
    cursor: pointer;
    color: #111827;
    text-align: right;
    padding: 15px;
}

/* Overlay */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    z-index: 10000;
}

.sidebar-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Mobile menu icon */
.menu-icon {
    font-size: 22px;
    cursor: pointer;
}

/* Tablet (≤991px) */
@media (max-width: 991px) {
    .portfolio-filters {
        gap: 1rem;
        padding: 0.6rem 1rem;
    }

    .filter-btn {
        font-size: 0.9rem;
        padding: 0.4rem 0.6rem;
    }

    .footer .main-footer {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding: 2rem;
        text-align: left ! important;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .menu-icon-wrap {
        display: block;
    }

    .hero .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero .hero-text {
        text-align: center;
    }

    .hero .hero-text h1 {
        font-size: 2.2rem;
    }

    .hero .hero-text p {
        font-size: 0.95rem;
    }

    .hero .hero-image {
        margin: 2rem 0 0 0;
        text-align: center;
    }

    .section-title {
        font-size: 1.8rem !important;
    }

    /* service */
    .section-header .title {
        font-size: 2rem;
    }

    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }

   

    .info-cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .info-card {
        flex: 1 1 calc(50% - 1rem);
        text-align: center;
    }

    /* portfolio */
    .portfolio-filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.6rem;
        padding: 0.5rem;
        border-radius: 8px;
    }

    .filter-btn {
        flex: 1 1 auto;
        min-width: 100px;
        text-align: center;
        font-size: 0.85rem;
        padding: 0.35rem 0.5rem;
    }

    .portfolio-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* my skill section */
    .skills-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .skill-progress-header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        text-align: center;
    }


    /* footer */
    .footer-container {
        padding: 0;
    }

    .footer .main-footer {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1.5rem;
        text-align: center;
    }

    .footer-about h2 {
        font-size: 2rem;
    }

    .footer .main-footer .footer-links ul,
    .footer .main-footer .social-icons {
        justify-content: center;
    }
}


/* Mobile (≤576px) */
@media (max-width: 576px) {
    .hero .hero-content {
        padding: 1.5rem;
    }

    .hero .hero-text h1 {
        font-size: 1.8rem;
        line-height: 1.3;
    }

    .hero .hero-text p {
        font-size: 0.9rem;
    }

    .btn {
        margin-top: 2rem;
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
        border-radius: 3px;
    }

    .hero .hero-image img {
        max-width: 100%;
        margin: 10px 0;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
}